@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


@import "tailwindcss";
@plugin "daisyui";

.font-rubik {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.font-questrial {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
